/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set default font */
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

/* Put bg image */
body {
  background-image: url(/images/watercolor_bg.png);
}

/* Set up the main timeline div */
.timeline-border {
  background: rgb(255, 203, 255);
  border-radius: 10px;
  padding: 5px;
  height: auto;
}

.timeline {
  border-radius: 10px;
  background-color: #ffc0cb;
  height: auto;
}

/* Set margins if wide screen (not mobile) */
@media (max-width: 500px) {
  .timeline-border {
    margin: 0 auto;
    width: 100vw;
  }
}
@media (min-width: 500px) {
  .timeline-border {
    margin: 0 auto;
    width: 700px;
  }
}

/* Header */
.header {
  background-image: url(/images/header_img.png);
  display: inline-flex;
  width: 100%;
  height: 25vh;
  max-height: 250px;
  border-radius: 10px 10px 0 0;
}

.header .header-title {
  text-align: center;
  margin: auto;
}

.header .header-title h1 {
  color: #da81da;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.header .header-title p {
  text-align: center;
}

/* Navbar */
.nav-links {
    background-color: #b3737d;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav-links ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links ul.nav-bar li {
    float: left;
}

.nav-links ul.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links ul.nav-bar li a:hover {
  background-color: #8a535b;
}

/* Main content */
.main-content {
  padding: 10px;
}

.post {
  background-color: #ebabb5;
  border-radius: 5px;
  padding: 10px;
}

.post .post-date {
  float: right;
}

.post img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: min(90vw, 650px);
  max-height: min(40vh, 300px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #9198e5;
  border-radius: 10px;
}